
/*Heitor Brito*/
#user-rollover.id-3614392 .badge-box > i.bdg,
.id-3614392 > .badge-box > i.bdg
{
    background-image:    url("https://s26.postimg.org/6cu1srvrd/ezgif.com-resize.png");
    border-radius: 6px;
}
/*Babillwnnya*/
#user-rollover.id-29586544 .badge-box > i.bdg,
.id-29586544 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/oqNfAGQ.png");
    border-radius: 6px;
}
/*Mattah Ittoki*/
#user-rollover.id-2974552 .badge-box > i.bdg,
.id-2974552 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/gemnqr09d/4294068-7616031697-3535c.jpg");
    border-radius: 6px;
}    
/*Allexya*/
#user-rollover.id-28254652 .badge-box > i.bdg,
.id-28254652 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/WTQY8Gn.gif");
    border-radius: 6px;
}
/*my name is juanzao*/
#user-rollover.id-28731391 .badge-box > i.bdg,
.id-28731391 > .badge-box > i.bdg
{
    background-image:    url("https://s18.postimg.org/qr1k30vnt/rsz_screenshot_20.png");
    border-radius: 6px;
}  
/*UNDERZITO*/
#user-rollover.id-32037923 .badge-box > i.bdg,
.id-32037923 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/7i8nut1j5/4294068-7616031697-3535c.jpg");
    border-radius: 6px;
}  

