
/*Heitor Brito*/
#user-rollover.id-3614392 .badge-box > i.bdg,
.id-3614392 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/LN7Ew8t.jpg");
    border-radius: 6px;
}
/*Najateen*/
#user-rollover.id-25070856 .badge-box > i.bdg,
.id-25070856 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/JpbiaZE.jpg");
    border-radius: 6px;
}   
/*Babillwnnya*/
#user-rollover.id-29586544 .badge-box > i.bdg,
.id-29586544 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/oqNfAGQ.png");
    border-radius: 6px;
}
/*Mattah Ittoki*/
#user-rollover.id-2974552 .badge-box > i.bdg,
.id-2974552 > .badge-box > i.bdg
{
    background-image:    url("https://media.giphy.com/media/l4pTmzxyaw4pBUzFm/giphy.gif");
    border-radius: 6px;
}    
/*Allexya*/
#user-rollover.id-28254652 .badge-box > i.bdg,
.id-28254652 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/WTQY8Gn.gif");
    border-radius: 6px;
}
/*my name is juanzao*/
#user-rollover.id-28731391 .badge-box > i.bdg,
.id-28731391 > .badge-box > i.bdg
{
    background-image:    url("https://s18.postimg.org/qr1k30vnt/rsz_screenshot_20.png");
    border-radius: 6px;
}  
/*UNDERZITO*/
#user-rollover.id-32037923 .badge-box > i.bdg,
.id-32037923 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/7i8nut1j5/4294068-7616031697-3535c.jpg");
    border-radius: 6px;
}  
/*Daynana*/
#user-rollover.id-20472203 .badge-box > i.bdg,
.id-20472203 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/dn66vjxgx/Screenshot_7.jpg");
    border-radius: 6px;
}  
/*Otaku Fedido*/
#user-rollover.id-25482766 .badge-box > i.bdg,
.id-25482766 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/lso8tryld/Screenshot_8.jpg");
    border-radius: 6px;
}  
/*blackpiink*/
#user-rollover.id-17913495 .badge-box > i.bdg,
.id-17913495 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/2NxAHUv.jpg");
    border-radius: 6px;
} 
/*-Skull-koraptor-------:)*/
#user-rollover.id-3527947 .badge-box > i.bdg,
.id-3527947 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/Ucq7FAA.jpg");
    border-radius: 6px;
}  
/*Chuvisco De Dolly*/
#user-rollover.id-31120629 .badge-box > i.bdg,
.id-31120629 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/939IE1c.jpg");
    border-radius: 6px;
}  
/*Yαทg ♂*/
#user-rollover.id-18109608 .badge-box > i.bdg,
.id-18109608 > .badge-box > i.bdg
{
    background-image:    url("https://media.giphy.com/media/xThtacCBRf4rspCtNe/giphy.gif");
    border-radius: 6px;
}  
/*Lester:3*/
#user-rollover.id-31526903 .badge-box > i.bdg,
.id-31526903 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/w56313u1t/Lester.jpg");
    border-radius: 6px;
}  
/*úrsula*/
#user-rollover.id-26964920 .badge-box > i.bdg,
.id-26964920 > .badge-box > i.bdg
{
    background-image:    url("https://media.giphy.com/media/pO3csIXI9gN5st4w9u/giphy.gif");
    border-radius: 6px;
}  
/*▲ ๖ۣۜDiana๖ۣۜSantos ▲*/
#user-rollover.id-3619211 .badge-box > i.bdg,
.id-3619211 > .badge-box > i.bdg
{
    background-image:    url("https://media.giphy.com/media/fQP9PqtxneqnyPO6w3/giphy.gif");
    border-radius: 6px;
}  
/*Atokz*/
#user-rollover.id-22683734 .badge-box > i.bdg,
.id-22683734 > .badge-box > i.bdg
{
    background-image:    url("https://s14.postimg.org/y2u07i0yp/cfff160b-5535-448d-b39e-c36b360a9d24-profile_image-300x300.jpg");
    border-radius: 6px;
}  
/*SρєαR 神*/
#user-rollover.id-27750874 .badge-box > i.bdg,
.id-27750874 > .badge-box > i.bdg
{
    background-image:    url("https://s17.postimg.org/yrd41te67/f86a786110f444087bb568b10870c86d09bcc361.jpg");
    border-radius: 6px;
}  
/*Vini*/
#user-rollover.id-27137179 .badge-box > i.bdg,
.id-27137179 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/ui5jVWB.gif");
    border-radius: 6px;
}  
/*h2ota*/
#user-rollover.id-33132266 .badge-box > i.bdg,
.id-33132266 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/Xrl8Vqx.gif");
    border-radius: 6px;
}  
/*☥ ANJINHO TV ☥*/
#user-rollover.id-32291773 .badge-box > i.bdg,
.id-32291773 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/6vy9Nhk.gif");
    border-radius: 6px;
}  
/*brendaj*/
#user-rollover.id-28154770 .badge-box > i.bdg,
.id-28154770 > .badge-box > i.bdg
{
    background-image:    url("https://i.imgur.com/LCiyFUP.png");
    border-radius: 6px;
}  
